
body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	-webkit-user-select: none;  /*	Запрет для  выделение текста для chrome,opera,safari*/
}

div {
	box-sizing: 
	border-box;
}

header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) ), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	width: 100%;
	height: 350px;
}

section {
	height: 700px;
}

nav {
	display: flex;
}

nav  li  {
	margin-top: 20px;
	-webkit-user-select: none;
}

footer {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) ), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
	width: 100%;
	height: 200px;
}

.footerinfo {
	margin: 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.containerHead {
	width: 1520px;
	margin: 0 auto;
}

.ElementOfLogAndPas{
	color: #fff;
	padding: 0;
	margin: 0;
}

.menu {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 70px;
}

.menu li { 
	display: block;
	margin-right: 20px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.Reg {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 780px;
}

.Reg li {
	display: block;
	margin-left: 10px;
}

.Reg li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.ElementOfLogAndPas {
	color: #fff;
	padding: 0;
	margin: 0;
}

.logo {
	margin-top: 19px;
}

/*	Логотип сайта	*/

.title {	/*блоки на страницах "контакты" и "Практики" выровнены по title*/
	color: #fff;
	font-size: 70px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	font-family: Arial ;
}

.search {
	position: relative;
 	width: 680px;
 	margin: 0 auto;
 	margin: 80px 400px;
}

.Pannel {
	border: none;
  	outline: none;
	background: #fff;
	color: #000;
	width: 650px;
	border-radius: 30px;
	display: block;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 10px;
	text-decoration: none;
  	padding-left: 15px;
  	font-size: 12px;
}

.button {
	background: linear-gradient(to bottom right, #9900ff, #3366ff);
	color: #fff;
	border: none;
	border-radius: 30px;
	display: block;
	width: 650px;
	height: 40px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
  	width: 120px;
  	position: absolute;
  	top: 1.7px;
 	right: 17px;
 	cursor: pointer;
  	font-size: 16px;
  	outline: 0;
  	-webkit-user-select: none;
}
	/*Панель с Иконками*/
.underContainer {
	display: flex;
	height: 115px;
	width: 1520px;
	margin: 0 auto;
	border-bottom-right-radius: 75px;
	border-bottom-left-radius: 75px;
	-webkit-user-select: none;
}
	/*Панель с Иконками*/
.centralMenu {
	display: flex;
	margin: 0 auto;
}
	/*Панель с Иконками*/
.link {
	margin: 0 45px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
}
	
.Icons {
	height: 70px;
	margin-top: 12px;
}

.Text {
	margin: 0 auto;
	text-align: center;
}

.BlockSlide {
	margin: auto;
	margin-top: 40px;
}

/*.mySlides {display: none}
img {vertical-align: middle;}
не влияет
*/ 

/* Slideshow container */
.Blockforslide {
  max-width: 1000px;
  border-radius: 30px;
  margin: auto;
  position: relative;
}

.imgstyle {
	width: 100%;
	border-radius: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.LinktoArticle {
    color: #f2f2f2;
    font-size: 52px;
    /* padding: 0px 0px 0px 0px; */
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
    text-decoration-line: none;
    background: #0000005c;
    border-radius: 0px 0px 32px 32px;
}

/* Number text (1/2 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 12px 19px;
  position: absolute;
  top: 10;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: linear-gradient(to bottom right, #9900ff, #3366ff);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
