
body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	-webkit-user-select: none;  /*	Запрет для  выделение текста для chrome,opera,safari*/
}

div {
	box-sizing: 
	border-box;
}

header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) ), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	width: 100%;
	height: 350px;
}

section {
	height: 1700px;
	background: #CCCCCC;
}

.sectionbg {
	margin: auto;
	width: 1400px;
	background: white;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

nav {
	display: flex;
}

nav  li  {
	margin-top: 20px;
	-webkit-user-select: none;
}

footer {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) ), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
	width: 100%;
	height: 200px;
}

.footerinfo {
	margin: 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.containerHead {
	width: 1520px;
	margin: 0 auto;
}

.ElementOfLogAndPas{
	color: #fff;
	padding: 0;
	margin: 0;
}

.menu {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 70px;
}

.menu li { 
	display: block;
	margin-right: 20px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.Reg {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 780px;
}

.Reg li {
	display: block;
	margin-left: 10px;
}

.Reg li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.ElementOfLogAndPas {
	color: #fff;
	padding: 0;
	margin: 0;
}

.logo {
	margin-top: 19px;
}

/*	Логотип сайта	*/

.title {	/*блоки на страницах "контакты" и "Практики" выровнены по title*/
	color: #fff;
	font-size: 70px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	font-family: Arial ;
}

.search {
	position: relative;
 	width: 680px;
 	margin: 0 auto;
 	margin: 80px 400px;
}

.Pannel {
	border: none;
  	outline: none;
	background: #fff;
	color: #000;
	width: 650px;
	border-radius: 30px;
	display: block;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 10px;
	text-decoration: none;
  	padding-left: 15px;
  	font-size: 12px;
}

.button {
	background: linear-gradient(to bottom right, #9900ff, #3366ff);
	color: #fff;
	border: none;
	border-radius: 30px;
	display: block;
	width: 650px;
	height: 40px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
  	width: 120px;
  	position: absolute;
  	top: 1.7px;
 	right: 17px;
 	cursor: pointer;
  	font-size: 16px;
  	outline: 0;
  	-webkit-user-select: none;
}
	/*Панель с Иконками*/
.underContainer {
	display: flex;
	height: 115px;
	width: 1520px;
	margin: 0 auto;
	box-shadow: 0em 0.1em 3px rgba(122,122,122,0.5);
	border-bottom-right-radius: 75px;
	border-bottom-left-radius: 75px;
	-webkit-user-select: none;
}
	/*Панель с Иконками*/
.centralMenu {
	display: flex;
	margin: 0 auto;
}
	/*Панель с Иконками*/
.link {
	margin: 0 45px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
}
	
.Icons {
	height: 70px;
	margin-top: 12px;
}

.Text {
	margin: auto;
	text-align: center;
}

.MainForm {
	display: flex;
	width: 1200px;
	margin: auto;
	padding: 10px;

}

.FilterPanel {
	height: 500px;
	width: 200px;
	padding: 10px;
	border: 1px solid blue;
}

.Filter {
	padding: 20px; 
	border: 1px solid green;
}

.selector {
	width: 120px;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	font-size: 12px;
	height: 35px;
	padding: 2px;
	outline: none;
}

.VakanciiPanel {
	height: 1000px;
	width: 1000px;
	padding: 10px;
}

.Vak  {
	padding: 20px;
	border-radius: 20px;
	border: 2px solid #FF9933;
	margin-bottom: 5px;
}

.VakHead {	
	display: flex;
}

.NameOfVak  {				/*	Название вакансии */
	flex-basis: 100%;
    width: 100%;
    margin-bottom: 10px;

    font-family: Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.PriceOfVak {			/*	Цена вакансии */
	flex: 0 0 auto;
    margin-left: 15px;
}

.bloko-link { 			/*	Стиль ссылки на вакансию */
    display: inline;
    outline: none;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    background: transparent;
    box-shadow: none;
    background-size: 0 0;
    transition: color .1s,opacity .1s;
}

.InfoSize { 		/*	Размер шрифта компаний, города и метро*/
	font-size: 15px;
	margin-bottom: 10px; 
}

.DescriptionInfo {
	text-align: justify;
}

.BlockSlide {
	display: flex;
	margin: auto;
	height: 500px;
	align-items: center;
}

.BlockforSlide {
	display: flex;
	margin: auto;
}

.text {									/*	текст  под картинками  для статей*/
    font-size: 16px;
    text-align: center;
    text-decoration-line: none;
}

.imgstyle {					/*	картинки для  статей	*/
	max-width: 600px;
	max-height: 500px;
	border-radius: 20px;
	padding: 10px;
}

.titleforArticle {
	height: 65px;
	background: #CCCCCC;
  	display: flex;
  	align-items: center;
  	justify-content: center }
}

.titleforArticle h1 {
	margin: 0;
}

.titleArticle {
	color: #FFFF;
	font-size: 32px;
	font-family: Arial;
	font-style: ;
}

.text {
	color: #000;
}

.text:visited {
	color: #000;
}