
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #CCCCCC;
}

header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) ), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	width: 100%;
	height: 480px;
}



div {
	box-sizing: 
	border-box;
}

nav {
	display: flex;
}

nav  li  {
	margin-top: 20px;
	-webkit-user-select: none;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 40px;
	padding: 25px 0px 0px 25px;
}

/*Подзаголовки внутри блока*/
.blocktitle {
	display: flex;
	justify-content: center;
	font-size: 25px;
}

.containerHead {
	width: 1520px;
	margin: 0 auto;
}
/*Левая часть nav бара*/
.menu {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 70px;
}

.menu li { 
	display: block;
	margin-right: 20px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
/*Правая часть nav бара*/
.Reg {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 780px;
}

.Reg li {
	display: block;
	margin-left: 10px;
}

.Reg li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.ElementOfLogAndPas { /*Пробел между "Вход" и "регистрация"*/
	color: #fff;
	padding: 0;
	margin: 0;
}
/*лого в правой части нав бара*/
.logo {
	margin-top: 19px;
}

/* Секция
	Блок с формой для размещение стажировки*/
.Block {
	width: 750px;
	height: 1920px;
	background: #fff; 
	margin: 0 auto;
	margin-top: 133px;
	border-radius: 50px;
}
	
.inBlock {				/*Элементы внутри блока*/
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: auto;
	padding: 2px;
	margin: 5px 0 0px 0;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.color1 {
	background: linear-gradient(to bottom, #5FCFCB, #61BDBD); 
	border-radius: 25px;
	padding: 5px;
	height: 200px;
	width: 550px;
	margin: 0 auto;
	border: 2px solid #fff;
}
.color2 {
	background: linear-gradient(to bottom left, #62B9BD, #63B6BE); 
	border-radius: 25px;
	height: 200px;
	padding: 5px;
	width: 550px;
	margin: 0 auto;
	border: 2px solid #fff;
}
.color3 {
	background: linear-gradient(to bottom right, #64B4BF, #65B1BF); 
	border-radius: 25px;
	height: 350px;
	padding: 5px;
	width: 550px;
	margin: 0 auto;
	border: 2px solid #fff;
}
.color4 {
	background: linear-gradient(to bottom left, #66AFC0, #66ADC0); 
	border-radius: 25px;
	height: 245px;
	padding: 5px;	
	width: 550px;
	margin: 0 auto;
	border: 2px solid #fff;
}
.color5 {
	background: linear-gradient(to bottom, #67AAC1, #69A5C2); 
	border-radius: 25px;
	height: 720px;
	padding: 5px;	
	width: 550px;
	margin: 0 auto;
	border: 2px solid #fff;
}

.border {
	border-style: none;
	height: 20px;
	padding: 10px;
	border-radius: 8px;
	outline: none;
}

.textarea {					/*textarea*/
	outline: none;
	width: 450px;
	height: 60px;
	border-radius: 8px;
	padding: 10px;
	resize: none;
	resize: none;
}

.selector {
	width: 350px;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	position: relative;
	font-size: 14px;
	height: 35px;
	padding: 5px;
}

.button {
	outline: 0;
	margin-top: 30px;
	margin-bottom: 10px;	
	height: 55px;
	width: 160px;
	border-radius: 50px;
	border-style: none;
	box-shadow: 0em 0.4em 5px rgba(122,122,122,0.5);
    background: linear-gradient(to  left, #9900ff, #3366ff);
}

.buttonimg {
	height: 30px;
	width: 40px;
}

.card {							/*radio button*/
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
	width: 300px;
	padding: 5px;
}

				/*	выключение поля "Зарплата" по чекбоксу	*/
input[type=radio] { 		 /* скрываем точки  от radio */
	visibility: hidden;
}

.card ul {
	background: none;
	list-style-type: none;
	padding-left: 80px;
	margin: 0 auto;
	font-size: 14px;
}

.card li {
	display: block;
	position: relative;
	padding: 5px 0px;
}

.check {
	width: 30px; height: 30px;
	position: absolute;
	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

label { 
	cursor: pointer; 
}

/* Reset Анимация radio  button*/
input#one ~ .check { 
	transform: translate(-50px, -25px); 
}

input#two ~ .check { 
	transform: translate(-50px, -53px); 
	background: linear-gradient(to  left, #9900ff, #3366ff);
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, 25px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -25px); }

/* отступ формы с чекбоксами  */
.cardTwo {
	margin: 10px;
}

.cardTwoAfter {
	background: #fff;
	border-radius: 10px;
	margin: 0 auto;
	width: 330px;
	padding: 10px 10px 10px;
}
/*Колесико мышки есть для этого)0)0
	Пока только для хроома*/
::-webkit-scrollbar {
width: 0px;
}

